.App{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

h1{
font-size: 3rem;
color: white;
}

#toggle{
    width:fit-content;

    padding: 1rem;
    border-radius: 0.2rem;
    font-weight: bold;
    font-size: 1.2rem;
    background: white;
    color: black;
    font: 1.3rem Inconsolata,monospace;
    text-shadow: 0 0 7px #111;
    border-radius: 0.5rem;
}

.poop{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }